<div class="bgtest">
    <!-- <div id="castleNight" style="bottom: 0px; position: absolute; top: 411px; opacity: 0;">
        <div></div>
    </div>
    <div id="castleNoon" style="bottom: 0px; position: absolute; top: 411px; opacity: 0.03;">
        <div></div>
    </div>
    <div id="castleMorning" style="bottom: 0px; position: absolute; top: 411px; opacity: 0.97;">
        <div></div>
    </div> -->
    <div class="container test">
        <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 400px;">
            <div class="carousel-inner h-100">
                <div class="carousel-item active h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/BattingCages-Slider-01.jpeg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-xl-4 offset-md-2">
                                <div class="mx-auto" style="max-width: 350px;text-align: center;">
                                    <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);font-family: 'Delius Unicase', serif;">batting cages</h1>
                                    <p class="my-3" style="color: var(--bs-cyan);">Open under new management</p>
                                    <p class="my-3" style="color: var(--bs-white);">Located next to our ALL day parking lot!</p>
                                    <p class="my-3" style="color: var(--bs-cyan);">Now open every Saturday and Sunday at 10AM</p><a class="btn btn-primary btn-lg text-end me-2" role="button" href="#" style="background: rgb(96,160,255);">JOIN THE MAJORITY!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/BattingCages-Slider-01.jpeg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2">
                                <div style="max-width: 350px;">
                                    <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);font-family: 'Delius Unicase', serif;">batting cages</h1>
                                    <p class="my-3" style="color: var(--bs-cyan);">Open under new management</p>
                                    <p class="my-3" style="color: var(--bs-white);">Located next to our ALL day parking lot!</p>
                                    <p class="my-3" style="color: var(--bs-cyan);">Now open every Saturday and Sunday at 10AM</p><a class="btn btn-primary btn-lg text-end me-2" role="button" href="#" style="background: rgb(96,160,255);">JOIN THE MAJORITY!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/BattingCages-Slider-01.jpeg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2">
                                <div style="max-width: 350px;">
                                    <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);font-family: 'Delius Unicase', serif;">batting cages</h1>
                                    <p class="my-3" style="color: var(--bs-cyan);">Open under new management</p>
                                    <p class="my-3" style="color: var(--bs-white);">Located next to our ALL day parking lot!</p>
                                    <p class="my-3" style="color: var(--bs-cyan);">Now open every Saturday and Sunday at 10AM</p><a class="btn btn-primary btn-lg text-end me-2" role="button" href="#" style="background: rgb(96,160,255);">JOIN THE MAJORITY!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
                    data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            </ol>
        </div>
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 style="font-size: 50px;">ALL FUN, <br>DAY by DAY</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="assets/img/293190654_5244848695579373_3793756305302491128_n.png" width="100%">
                            <h4 class="card-title"><a href="#" style="font-family: Satisfy, serif;">Runaway Rapids</a></h4>
                            <p>Chilling all day long.</p>
                            <p class="card-text"><span style="color: rgb(1, 1, 1);">Runaway Rapid Water Park has over 18 slides with varying speed, heights and splash zones, kiddie lagoon, and separate toddler play area, crazy lazy river, two relaxing spa pools, and more!</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="assets/img/294566371_5271868706210705_251736752664879415_n.png" style="width: 100%;">
                            <h4 class="card-title"><a href="#" style="font-family: 'Faster One', serif;">Go Karts</a></h4>
                            <p>Go fast, go Karts!</p>
                            <p class="card-text"><span style="color: rgb(1, 1, 1);">Fast Trax Go Karts is a family favorite offering two exciting tracks. The younger children can enjoy their own smaller cars that are carefully supervised on a separate kid-sized track.</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="assets/img/276200670_4935308973200015_1739612376668616671_n.png" width="100%">
                            <h4 class="card-title" style="font-family: Arbutus, serif;"><a href="#" style="font-family: Flavors, serif;">Amusement Park</a></h4>
                            <p>Winner winner, chicken dinner!</p>
                            <p class="card-text"><span style="color: rgb(1, 1, 1);">Keansburg Amusement Park is filled with dozens of exciting rides, fun games, three large family arcade centers, and an abundance of delicious boardwalk food.</span><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- test bg  -->

        <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 400px;">
            <div class="carousel-inner h-100">
                <div class="carousel-item active h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/BattingCages-Slider-01.jpeg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-xl-4 offset-md-2">
                                <div class="mx-auto" style="max-width: 350px;text-align: center;">
                                    <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);font-family: 'Delius Unicase', serif;">batting cages</h1>
                                    <p class="my-3" style="color: var(--bs-cyan);">Open under new management</p>
                                    <p class="my-3" style="color: var(--bs-white);">Located next to our ALL day parking lot!</p>
                                    <p class="my-3" style="color: var(--bs-cyan);">Now open every Saturday and Sunday at 10AM</p><a class="btn btn-primary btn-lg text-end me-2" role="button" href="#" style="background: rgb(96,160,255);">JOIN THE MAJORITY!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/BattingCages-Slider-01.jpeg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2">
                                <div style="max-width: 350px;">
                                    <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);font-family: 'Delius Unicase', serif;">batting cages</h1>
                                    <p class="my-3" style="color: var(--bs-cyan);">Open under new management</p>
                                    <p class="my-3" style="color: var(--bs-white);">Located next to our ALL day parking lot!</p>
                                    <p class="my-3" style="color: var(--bs-cyan);">Now open every Saturday and Sunday at 10AM</p><a class="btn btn-primary btn-lg text-end me-2" role="button" href="#" style="background: rgb(96,160,255);">JOIN THE MAJORITY!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/BattingCages-Slider-01.jpeg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2">
                                <div style="max-width: 350px;">
                                    <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);font-family: 'Delius Unicase', serif;">batting cages</h1>
                                    <p class="my-3" style="color: var(--bs-cyan);">Open under new management</p>
                                    <p class="my-3" style="color: var(--bs-white);">Located next to our ALL day parking lot!</p>
                                    <p class="my-3" style="color: var(--bs-cyan);">Now open every Saturday and Sunday at 10AM</p><a class="btn btn-primary btn-lg text-end me-2" role="button" href="#" style="background: rgb(96,160,255);">JOIN THE MAJORITY!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
                    data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            </ol>
        </div>
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 style="font-size: 50px;">ALL FUN, <br>DAY by DAY</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="assets/img/293190654_5244848695579373_3793756305302491128_n.png" width="100%">
                            <h4 class="card-title"><a href="#" style="font-family: Satisfy, serif;">Runaway Rapids</a></h4>
                            <p>Chilling all day long.</p>
                            <p class="card-text"><span style="color: rgb(1, 1, 1);">Runaway Rapid Water Park has over 18 slides with varying speed, heights and splash zones, kiddie lagoon, and separate toddler play area, crazy lazy river, two relaxing spa pools, and more!</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="assets/img/294566371_5271868706210705_251736752664879415_n.png" style="width: 100%;">
                            <h4 class="card-title"><a href="#" style="font-family: 'Faster One', serif;">Go Karts</a></h4>
                            <p>Go fast, go Karts!</p>
                            <p class="card-text"><span style="color: rgb(1, 1, 1);">Fast Trax Go Karts is a family favorite offering two exciting tracks. The younger children can enjoy their own smaller cars that are carefully supervised on a separate kid-sized track.</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="assets/img/276200670_4935308973200015_1739612376668616671_n.png" width="100%">
                            <h4 class="card-title" style="font-family: Arbutus, serif;"><a href="#" style="font-family: Flavors, serif;">Amusement Park</a></h4>
                            <p>Winner winner, chicken dinner!</p>
                            <p class="card-text"><span style="color: rgb(1, 1, 1);">Keansburg Amusement Park is filled with dozens of exciting rides, fun games, three large family arcade centers, and an abundance of delicious boardwalk food.</span><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  test 2 bg  -->
        <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 400px;">
            <div class="carousel-inner h-100">
                <div class="carousel-item active h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/BattingCages-Slider-01.jpeg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-xl-4 offset-md-2">
                                <div class="mx-auto" style="max-width: 350px;text-align: center;">
                                    <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);font-family: 'Delius Unicase', serif;">batting cages</h1>
                                    <p class="my-3" style="color: var(--bs-cyan);">Open under new management</p>
                                    <p class="my-3" style="color: var(--bs-white);">Located next to our ALL day parking lot!</p>
                                    <p class="my-3" style="color: var(--bs-cyan);">Now open every Saturday and Sunday at 10AM</p><a class="btn btn-primary btn-lg text-end me-2" role="button" href="#" style="background: rgb(96,160,255);">JOIN THE MAJORITY!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/BattingCages-Slider-01.jpeg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2">
                                <div style="max-width: 350px;">
                                    <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);font-family: 'Delius Unicase', serif;">batting cages</h1>
                                    <p class="my-3" style="color: var(--bs-cyan);">Open under new management</p>
                                    <p class="my-3" style="color: var(--bs-white);">Located next to our ALL day parking lot!</p>
                                    <p class="my-3" style="color: var(--bs-cyan);">Now open every Saturday and Sunday at 10AM</p><a class="btn btn-primary btn-lg text-end me-2" role="button" href="#" style="background: rgb(96,160,255);">JOIN THE MAJORITY!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/BattingCages-Slider-01.jpeg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2">
                                <div style="max-width: 350px;">
                                    <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);font-family: 'Delius Unicase', serif;">batting cages</h1>
                                    <p class="my-3" style="color: var(--bs-cyan);">Open under new management</p>
                                    <p class="my-3" style="color: var(--bs-white);">Located next to our ALL day parking lot!</p>
                                    <p class="my-3" style="color: var(--bs-cyan);">Now open every Saturday and Sunday at 10AM</p><a class="btn btn-primary btn-lg text-end me-2" role="button" href="#" style="background: rgb(96,160,255);">JOIN THE MAJORITY!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
                    data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            </ol>
        </div>
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 style="font-size: 50px;">ALL FUN, <br>DAY by DAY</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="assets/img/293190654_5244848695579373_3793756305302491128_n.png" width="100%">
                            <h4 class="card-title"><a href="#" style="font-family: Satisfy, serif;">Runaway Rapids</a></h4>
                            <p>Chilling all day long.</p>
                            <p class="card-text"><span style="color: rgb(1, 1, 1);">Runaway Rapid Water Park has over 18 slides with varying speed, heights and splash zones, kiddie lagoon, and separate toddler play area, crazy lazy river, two relaxing spa pools, and more!</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="assets/img/294566371_5271868706210705_251736752664879415_n.png" style="width: 100%;">
                            <h4 class="card-title"><a href="#" style="font-family: 'Faster One', serif;">Go Karts</a></h4>
                            <p>Go fast, go Karts!</p>
                            <p class="card-text"><span style="color: rgb(1, 1, 1);">Fast Trax Go Karts is a family favorite offering two exciting tracks. The younger children can enjoy their own smaller cars that are carefully supervised on a separate kid-sized track.</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4"><img src="assets/img/276200670_4935308973200015_1739612376668616671_n.png" width="100%">
                            <h4 class="card-title" style="font-family: Arbutus, serif;"><a href="#" style="font-family: Flavors, serif;">Amusement Park</a></h4>
                            <p>Winner winner, chicken dinner!</p>
                            <p class="card-text"><span style="color: rgb(1, 1, 1);">Keansburg Amusement Park is filled with dozens of exciting rides, fun games, three large family arcade centers, and an abundance of delicious boardwalk food.</span><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- <script src="./main.js"></script> -->
