<nav class="navbar navbar-light navbar-expand-md py-3 bg-svg">
    <div class="container"><img src="assets/img/kap_logo.png" width="163" height="67"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigationa</span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></button>
        <div class="collapse navbar-collapse nav-text" id="navcol-3">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item dropdown"><a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Rides &amp; Attractions&nbsp;</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Food</a></li>
                <li class="nav-item dropdown"><a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Tickets&nbsp;</a>
                    <!-- <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div> -->
                </li>
                <li class="nav-item dropdown"><a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Information&nbsp;</a>
                    <!-- <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div> -->
                </li>
                <li class="nav-item dropdown"><a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Groups &amp; Parties&nbsp;</a>
                    <!-- <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div> -->
                </li>
            </ul>
        </div>

        <!-- <button type="button" class="button-29 text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Account</button> -->
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="button-29 text-light" id="dropdownBasic1" ngbDropdownToggle>Login</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <h3>Sign in</h3>
                        <hr>
                        <a ngbDropdownItem type="button" class="button-29 text-light" routerLink="/login">Login</a>
                        <!-- <a ngbDropdownItem type="button" class="button-29 text-light" [routerLink]="['/login',{register:1}]">Login</a> -->

                        <button ngbDropdownItem>Action - 1</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>